@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Source+Code+Pro:wght@200;600&display=swap");

.thanks {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.box {
  margin: 1em auto auto auto;
  width: 55%;
  box-shadow: 20px 20px #696c71;
  padding: 40px;
  text-align: center;
  background: #fdc1c1;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.text {
  font-family: Source Code Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;

}

.line {
    margin-top: 50px;
}
