@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
  font-family: Source Code Pro;
  text-align: center;
}

.desc {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}

.formInput {
  padding-bottom: 1em;
  background-image: none;
  background-color: #fdc1c1;
}


#formBox {
  padding-top: 1em;
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 2px;
  box-shadow: 10px 10px #696c71;
  padding-bottom: 1em;
  background-color: #fdc1c1;
}

#nextBtn {
  height: 2rem;
  width: 7rem;
  border: solid 1px;
  box-shadow: 2px 2px #696c71;
  font-size: 14px;
}

#noBtn {
  height: 2rem;
  width: 7rem;
  border: solid 1px;
  box-shadow: 2px 2px #696c71;
  font-size: 14px;
  background-color: #fef9f9cf;
}

.lbls {
  background-color: #fdc1c1;
  font-size: 16px;
} 

#nextBtn:hover {
  background-color: #e5f6a1;
}

.inputBox {
  border: solid 1px;
  width: 70%;
  height: 1.5rem;
  padding: 4px;
  font-size: 16px;
}

#note {
  font-size: 10px;
}

h1 {
  padding: 10px;
  font-size: 3rem;
}

.admin {
  padding-top: 20px;
  font-size: 12px;
}

#adminEmail {
  height: 8px;
}

#psw {
  height: 8px;
}