@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
  font-family: Source Code Pro;
  font-size: 16px;
  text-align: center;
}

.linedown {
  margin-top: 180px;
}

.findMentor {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  color: #000000;
  padding-bottom: 20px;
}

.country {
  width: 721px;
  height: 154px;
  margin: auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.language {
  width: 723px;
  height: 195px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding-top: 10px;
  padding-left: 20px;
}

.study {
  width: 721px;
  height: 154px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.frequency {
  width: 722px;
  height: 148px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.subjects {
  width: 721px;
  height: 180px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.interests {
  width: 721px;
  height: 210px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.message {
  width: 721px;
  height: 220px;
  margin: 2.5em auto;
  background: #e5f6a1;
  border: 1px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px #696c71;
  padding: 10px;
  padding-left: 20px;
}

.submit {
  width: 155px;
  height: 33px;
  margin: 4em auto;
  background: #dfd3ff;
  border: 2px solid #000000;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  font-weight: bold;
  font-size: 20px;
}

.submit:hover {
  background: #fdc1c1;
  box-shadow: 5px 5px #696c71;

  font-weight: bold;
  font-size: 20px;
}

.question {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.checkbox {
  font-family: Source Code Pro;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}

#dropDownList {
  background: #f9f8f7;
  border: 1px solid #000000;
  box-sizing: border-box;
  height: 44px;
  width: 625px;
  font-size: 15px;
}

#questionText {
  background: #f9f8f7;
  border: 1px solid #000000;
  box-sizing: border-box;
  height: 100px;
  width: 625px;
}